<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/sample.css">
</head>

<body>
	<form th:action="@{/submit}" th:object="${userForm}" method="post">
		name:<input type="text" th:field="*{name}"><br>
		email:<input type="text" th:field="*{email}"><br>
		<button type="submit">submit</button>
	</form>
	<table>
		<tr>
			<th>name:</th>
			<th>email</th>
			<th>/</th>
		</tr>
		<tr th:each="obj : ${dto}">
			<td th:text="${obj.name}"></td>
			<td th:text="${obj.email}"></td>
			<td><a th:href="@{'/delete?id='+${obj.id}}">delete</a></td>
		</tr>
	</table>
	</div>
<p> a</p>
 <p>hello</p>
</body>

</html>